import subprocess
import sys
from collections import defaultdict

# Paquetes a excluir
exclude_packages = {'streamlit'}

# Obtener todos los paquetes instalados
installed_packages = subprocess.check_output([sys.executable, '-m', 'pip', 'freeze']).decode().split('\n')

# Crear un diccionario para rastrear las versiones de los paquetes
package_versions = defaultdict(list)
for package in installed_packages:
    if package:
        package_name, package_version = package.split('==')
        if package_name not in exclude_packages:
            package_versions[package_name].append(package_version)

# Generar el archivo requirements.txt
with open('requirements.txt', 'w') as f:
    for package_name, versions in package_versions.items():
        f.write(f'{package_name}=={max(versions)}\n')
